body {
    background-color: rgb(6, 8, 38);
    font-size: medium;
    font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
  }


 {
     <script src="https://cdn.tailwindcss.com"></script>
   
        .infobox-table th, .infobox-table td {
            padding: 0.5rem 0.75rem;
            text-align: left;
            border-bottom: 1px solid #e5e7eb; /* Light border */
        }
        .infobox-table th {
            width: 35%; /* Adjust width for labels */
            font-weight: 500;
            color: #1f2937; /* Slightly darker label text */
        }
        .infobox-table tr:last-child td,
        .infobox-table tr:last-child th {
            border-bottom: none; /* No border for the last row */
        }
    </style>
</head>
<body class="antialiased">
    <div class="min-h-screen flex flex-col">

        <!-- Header Section -->
        <header class="bg-gradient-to-r from-red-800 to-red-600 text-white p-4 shadow-lg">
            <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
                <h1 class="text-3xl font-bold mb-2 md:mb-0">Itoh Fujino</h1>
                <nav>
                    <ul class=="sidenav">
   	  	 <a href="index.html">Home Page</a>
		  <a href="page2.html">charater</a>
		  <a href="page3.html">Cards</a>
            
    
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262c36;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ADADAD;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


{
  box-sizing: border-box;
}




.column {
  float: right;
  padding: 50px;
  height: 800px;
}

.left {
  width: 80%;
}

.right {
  width: -50%%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
